:root {
    --primary-color: #264653;
    --secondary-color: #2a9d8f;
    --accent1-color: #f4a261;
    --accent2-color: #e76f51;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    max-width: 100%;
}

header img {
    padding: .5rem .5rem .5rem 2rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 1rem;
    padding: 60px;
}

header nav a {
    background-color: white;
    width: 6rem;
    padding: .5rem;
    border: 1px solid var(--primary-color);
    text-align: center;
    text-decoration: none;
    font-family: Poppins;
    color: var(--primary-color);
}

h1 {
    position: absolute;
    width: 100%;
    top: .5rem;
    text-align: center;
    color: #ffffff;
    font-size: 35pt;
    font-family: DM;
    font-weight: 400;
}

h2 {
    color: var(--primary-color);
    font-family: Poppins;
    font-weight: 200;
}

h3 {
    color: var(--primary-color);
    font-family: Poppins;
    font-weight: 400;
    font-size: 12pt;
}

p {
    color: var(--primary-color);
    font-family: Poppins;
}

main {
    font-family: Poppins;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero2 {
    position: relative;
}

.hero2 img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 1.5rem;
    background-color: rgba(244, 163, 97, 0.50);
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.hero article p {
    padding: 0px 115px 0px 15px;
    color: black;
    text-align: center;
}

.hero2 article {
    position: absolute;
    top: 5.5rem;
    right: 4rem;
    width: 50%;
}

.hero2 article p {
    color: #ffffff;
    justify-self: right;
    text-align: right;
    font-size: 14pt;
}

.hero2 nav {
    position: absolute;
    top: 13rem;
    right: 10rem;
    background-color: #2a9d8f;
    padding: 12px;
    border-radius: 10px;
}

.hero2 nav a {
    color: #ffffff;
    text-decoration: none;
}

#small {
    float: right;
    width: 100px;
    height: auto;
}

.contact {
    position: relative;
}

.contact h1 {
    position: relative;
    color: #c05135;
}

.contact p {
    text-align: center;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 15px;
    max-width: 1200px;
    margin: auto;
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
}

.history img {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 80%;
    padding-bottom: 15px;
}

.history p {
    grid-row: 2/3;
}

.information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 800px;
    justify-content: center;
    margin: auto;
}

.information h2 {
    grid-column: 1/3;
    text-align: center;
    font-weight: 400;
}

.information form {
    background-color: #c05135;
    color: #ffffff;
    padding: 15px 0 15px 45px;
}

.information form h3 {
    color: #ffffff;
}

.information form button {
    font-family: Poppins;
    color: #ffffff;
    background-color: #264653;
    font-size: 12pt;
    border: none;
    padding: .5rem;
    margin: 5px;
}

.information article {
    background-color: var(--secondary-color);
    padding: 15px 35px 10px 35px;
    grid-row: 2/4;
    text-align: center;
}

.information article h3 {
    color: #ffffff;
    font-size: 15pt;
}

.information article p {
    color: #ffffff;
}

.information img {
    max-width: 400px;
}

.information nav p {
    background-color: var(--secondary-color);
    color: #ffffff;
    text-align: center;
    padding: 30px 15px 0px 15px;
    height: 122px;
    margin-top: 0;
}


.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #2a9d8f;
    max-width: 100%;
    justify-content: center;
    font-family: Poppins;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    padding: 5px 0 0 0;
    color: #ffffff;
}

.employee-profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #2a9d8f;
    max-width: 100%;
    justify-items: center;
}

.employee-profiles h2 {
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    padding: 5px 0 0 0;
    color: #ffffff;
}

.employee-profiles figure {
    font-size: 10pt;
}

figure {
    grid-row: 2/3;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    width: 80%;
}

figure img {
    width: 100%;
}

figure figcaption {
    text-align: center;
    color: #ffffff;
    padding: 0 0 5px 0;
}

.message {
    display: flex;
    padding: 20px;
    justify-content: center;
    color: var(--primary-color);
}

.message form {
    padding: 0px 30px 0px 30px;
    margin-bottom: 1.5rem;
}

.message form textarea {
    width: 100%;
}

.message form button {
    font-family: Poppins;
    color: #ffffff;
    background-color: #c05135;
    font-size: 15pt;
    border: none;
    padding: .5rem;
}

.message iframe {
    align-self: center;
}

footer {
    background-color: #f1b27e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

footer p {
    width: 100%;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.sociallinks a {
    padding: 10px 10px;
}

.wireframe a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    font-family: Poppins;
}