.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid black 0.1;
    padding: 15px;
    background-color: rgb(69, 105, 146);
    color: white;
}


.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid black;
    padding: 3px;
    background-color: aliceblue;
    width: 15 0px;
    height: auto;
}

blockquote {
    margin: 0;

}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: smaller;
}